.header {
  padding-left: 10px;
  margin-right: 10px;
  font-weight: 300;
  font-size: 40px;
  color: white;

  display: flex;
  justify-content: space-between;
}

.button {
  width: 50px;
  height: 50px;
}