.page {
  width: 100%;

  display: flex; 
  flex-direction: column;
  align-items: center;
}

.slide {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slide.radical {
  background-color: #0088FF;
}

.slide.kanji {
  background-color: #FF00AA;
}

.slide.kotoba {
  background-color: #AA00FF;
}

.card {
  margin-bottom: 30px;
  width: 100%;
  height: 240px;
}

.questionType {
  font-weight: 400;
  font-size: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.questionType.meaning {
  background-color: #e1e1e1;
  color: #555;

  width: 100%;
}

.questionType.reading {
  background-color: #3c3c3c;
  color: #e1e1e1;

  width: 100%;
}

.slideInformation {
  width: 100%;
	font-size: 16px;
  
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.characters {
  width: 100%;
	font-size: 120px;
  
  display: flex;
  justify-content: center;
}

.input {
  width: 100%;

  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 44px;
  text-align: center;
  
  padding: 5px;
  outline: none;
  border: 2px solid rgba(0,0,0,0);
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.input.invalid {
  animation: shake 0.6s ease-in-out;
  animation-fill-mode: both;
}

.left, .right {
  width: 70px;
  display: flex;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-weight: 300;
  font-size: 30px;
  color: white;

  display: flex;
  justify-content: space-between;
}

.buttonGroup {
  display: flex;
}

.button {
  width: 50px;
  height: 50px;
}

.headerSection {
  font-weight: 300;
  font-size: 32px;
  background-color: #e1e1e1;
  width: 500px;

  color: #000;
  text-align: center;
}

.panelLong {
  display: flex;
  flex-direction: column;
}

.cardKotoba {
  background-color: #0088FF;
  
  width: 1000px;
  height: 60px;
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
}

.cardKotoba.header {
  background-color: #3c3c3c;
  color: #e1e1e1;
}

.titleBoxLong {
  color: white;
  width: 500px;

  display: flex;
}

.meaning, .answer {
  height: 100%;
  width: 250px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.correct {
  background-color: #88cc00;
}

.incorrect {
  background-color: #ff0033;
}

.charactersLong {
  padding-left: 10px;
	width: 400px;
  height: 60px;
	font-size: 40px;
  display: flex;
}

.finishBar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.finishButton {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #1A1A1A;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  height: 60px;
  width: 150px;
}

.finishButton:hover {
  background-color: #3C3C3C;
}

.finishButton:active {
  background-color: #555;
}
