.page {
  width: 100%;

  display: flex; 
  flex-direction: column;
  align-items: center;
}

.slide {
  background-color: #0088FF;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  background-color: #0088FF;

  width: 100%;
  height: 240px;
}

.characters {
  width: 100%;
	font-size: 160px;
  display: flex;
  justify-content: center;
}

.input {
  width: 100%;

  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 44px;
  text-align: center;
  
  margin: 10px;
  padding: 5px;
  outline: none;
  border: 2px solid rgba(0,0,0,0);
}

.left, .right {
  width: 70px;
  display: flex;
}

.result {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerSection {
  font-weight: 300;
  font-size: 32px;
  background-color: #e1e1e1;
  width: 500px;

  color: #000;
  text-align: center;
}

.panelLong {
  display: flex;
  flex-direction: column;
}

.cardKotoba {
  background-color: #0088FF;
  
  width: 1000px;
  height: 60px;
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
}

.cardKotoba.header {
  background-color: #3c3c3c;
  color: #e1e1e1;
}

.titleBoxLong {
  color: white;
  width: 500px;

  display: flex;
}

.meaning, .answer {
  height: 100%;
  width: 250px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.correct {
  background-color: #88cc00;
}

.incorrect {
  background-color: #ff0033;
}

.charactersLong {
  padding-left: 10px;
	width: 400px;
  height: 60px;
	font-size: 40px;
  display: flex;
}