.page {
  width: 100%;

  display: flex; 
  flex-direction: row;
  align-items: center;
}

.slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: #0088FF;

  width: 100%;
  height: 240px;
}

.characters {
  width: 100%;
	font-size: 160px;
  display: flex;
  justify-content: center;
}

.input {
  width: 100%;

  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 44px;
  text-align: center;
  
  margin: 10px;
  padding: 5px;
  outline: none;
  border: 2px solid rgba(0,0,0,0);
}

.left, .right {
  height: 100%;
  width: 70px;
  display: flex;
}