.radical {
    background-color: #00AAFF;
}

.radical:hover {
    background-color: #069;
}

.kanji {
    background-color: #ff00aa;
}

.kanji:hover {
    background-color: #cc0088;
}

.kotoba {
    background-color: #AA00FF;
}

.kotoba:hover {
    background-color: #8800cc;
}

.card {
    display: flex;
    align-items: center;
}

.card.square {
    background-color: #767676;
    border: 1px solid #ccc;
    border-radius: 8px;

    width: 50px;
    height: 50px;

    margin: 0px 5px;

    justify-content: center;
}

.card.square:hover {
    background-color: #555;
    border: 1px solid #ccc;
    border-radius: 8px;

    width: 50px;
    height: 50px;

    margin: 0px 5px;

    justify-content: center;
}

.card.rectangular {
    width: 100px;
    height: 50px;
}

.level {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.level.square {
    padding: 5px;
}

.level.rectangular {
    padding: 0px;
}
  
.title {
    width: 100%;
    height: 100%;
    color: white;

    display: flex;
    align-items: center;
}

.title.square {
    justify-content: center;
}

.title.rectangular {
    font-size: 16px;
    justify-content: space-around;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    margin-right: 10px;
}

.sitemap {
    display: flex;
}

.sitemap_option {
    width: 400px;
}

.sitemap_levels {
    background-color: transparent;

    display: none;
    position: absolute;
  
    z-index: 1;
}

.sitemap_levels.level {
    background-color: #333;

    padding: 5px 0px;
    border-radius: 5px;
}

.sitemap_levels.clicked {
    display: block;
}