.header {
    padding-left: 10px;
    font-weight: 300;
    font-size: 40px;
    color: white;
  
    display: flex;
    justify-content: space-between;
}

.card {
    border: 1px solid #ccc;
    background-color: #767676;
    border-radius: 8px;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.level {
    height: 80px;
    width: 750px;
    padding: 25px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.title {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
  