.card {
    border: 1px solid #ccc;
    background-color: #767676;
    border-radius: 8px;
    width: 50px;
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.level {
    border: 1px solid #ccc; 
    height: 80px;
    width: 750px;
    padding: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
  
.title {
    color: white;
}
  