.header {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  font-weight: 300;
  font-size: 28px;
  background-color: #e1e1e1;
  color: #999;
}

.headerSection {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  font-weight: 300;
  font-size: 32px;
  background-color: #e1e1e1;
  color: #000;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.panelLong {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #767676;
  
  width: 100px;
  height: 125px;
  margin: 10px;

  display: flex;
  flex-direction: column;
}

.cardKanji {
  background-color: #FF00AA;
  
  width: 100px;
  height: 125px;
  margin: 10px;

  display: flex;
  flex-direction: column;
}

.cardKotoba {
  background-color: #AA00FF;
  
  width: 750px;
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleBoxLong {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-end;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
}

.titleLong {
  padding-right: 10px;
  color: white;
  display: flex;
}

.characters {
  width: 100px;
	height: 100px;
	font-size: 70px;
  display: flex;
  justify-content: center;
}

.charactersLong {
  padding-left: 10px;
	width: 500px;
  height: 60px;
	font-size: 40px;
  display: flex;
}