.headerSection {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  font-weight: 300;
  font-size: 32px;
  background-color: #e1e1e1;
  color: #000;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panelTitle {
  width: 250px;
}

.panelButton {
  width: 250px;

  display: flex;
  flex-direction: row-reverse;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.panelLong {
  display: flex;
  flex-direction: column;
}

.card {
  width: 100px;
  height: 150px;
  margin: 10px;

  display: flex;
  flex-direction: column;
}

.card.radical {
  background-color: #0088FF;
}

.card.kanji {
  background-color: #FF00AA;
}

.cardKotoba {
  background-color: #AA00FF;
  
  width: 900px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleBoxLong {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-end;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
}

.titleInner {
  color: white;
  font-size: 16px;

  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meaningKanji {
  color: white;
  display: flex;
  justify-content: center;
}

.meaningKanjiInner {
  color: white;
  font-size: 16px;

  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleLong {
  padding-right: 10px;
  color: white;
  display: flex;
}

.characters {
  width: 100%;
	height: 100px;
	font-size: 70px;
  display: flex;
  justify-content: center;
}

.charactersLong {
  padding-left: 10px;
	width: 500px;
  height: 60px;
	font-size: 30px;
  
  display: flex;
  align-items: center;
}

.rectangularButton {
  padding: 5px 5px;
  margin: 10px 10px;
  background-color: #294ddb;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  color: white;
  font-size: 24px;
}
